.wrapper {
	font-family: 'Playfair Display';
	display: flex;
	align-items: center;
	height: 30px;
	padding: 0 10px;
	border-radius: 10px;
	background-color: var(--border-pink-color);
	.hiddenPart {
		display: flex;
		align-items: center;
		width: 0;
		overflow: hidden;
		opacity: 0;
		transition:
			width 0.3s ease-in-out,
			opacity 0.2s ease-in-out;

		&.showHiddenPart {
			width: 40px; /* Раскрываем до нужного размера */
			opacity: 1;
		}
	}
}

.button {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.counter {
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px 5px 10px;
	color: var(--text-color);
	transition: opacity 0.2s ease-in-out;
}
