.wrapper {
	margin: 0 auto;
	text-align: center;
	justify-items: center;
	padding: 40px 20px;
	width: 100%;
	color: var(--600-pink-color);
}

.title {
	font-size: 5rem;
	color: var(--300-pink-color);
	font-weight: bold;
	margin-bottom: 3rem;
	user-select: none;
}
.carousel {
	display: flex;
	align-items: center;
	gap: 20px;
}
.window {
	max-width: 81.3rem;
	overflow: hidden;
	user-select: none;
}
.reviewsContainer {
	display: flex;
	align-items: center;
	gap: 2rem;
}
.reviewCard {
	height: 39rem;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: 18px;
	&:hover {
		transform: scale(1.1);
	}
}

.photo {
	height: 300px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.text {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--300-pink-color);
}
.arrow {
	opacity: 0.2;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}
@media (max-width: 768px) {
	.reviewCard {
		width: 100%;
	}
	.photo {
		height: 200px;
	}
	.text {
		font-size: 0.9rem;
	}
}
