.promotionWrapper {
	margin: 20px 0;
	.promotionSections {
		display: flex;
		justify-content: space-between;
		.promotionPhoto {
			width: 100%;
			object-fit: scale-down;
			padding: 0 10px;
		}
	}
}
