.categoryButton {
	display: flex;
	align-items: center;
	background-color: transparent;
	margin-right: 1.4rem;
	font-size: 2rem;
	color: var(--800-pink-color);
	cursor: pointer;
	&:hover {
		transform: scale(1.1);
	}
}

.activeCategory {
	font-weight: bold;
}
