.h1 {
	font-size: 3rem;
	color: var(--900-pink-color);
}

.h2 {
	font-size: 5rem;
	color: var(--800-pink-color);
	margin-bottom: 20px;
	user-select: none;
}

.h3 {
	font-size: 19px;
	color: var(--900-pink-color);
}
