.h1 {
	font-size: 32px;
	border: 2px solid var(--border-pink-color);
	border-radius: 15px;
}

.h2 {
	font-size: 24px;
	border: 2px solid var(--border-pink-color);
	border-radius: 15px;
}

.h3 {
	font-size: 19px;
	border: 2px solid var(--border-pink-color);
	border-radius: 15px;
}
