.sortWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 20rem;
	position: relative;
	font-size: 1.5rem;
	color: var(--800-pink-color);
	cursor: pointer;
}
.sortBy {
	font-weight: bold;
}
.activeSort {
	z-index: 2;
	width: 13rem;
	text-align: center;
	padding: 1rem 0;
	border-radius: 12px;
	color: var(--800-pink-color);
	font-weight: bold;
	background-color: var(--200-pink-color);
	&.activeSortOpen {
		border-radius: 1.2rem 1.2rem 0 0;
		box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.109);
	}
}

.sortBlock {
	position: absolute;
	right: 0;
	top: 3.3rem;
	width: 13rem;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	border-radius: 0 0 1.2rem 1.2rem;
	transition: all 0.3s ease-in-out;
}

.openedPopUp {
	visibility: visible;
	opacity: 1;
	padding: 1.5rem 1rem 1.5rem 1rem;
	background-color: var(--300-pink-color);

	.activeListSort {
		background-color: var(--200-pink-color);
	}
	ul {
		height: 100%;
		transition: opacity 0.1s;
		li {
			width: 100%;
			margin-top: 5px;
			&:hover {
				font-weight: bold;
			}
		}
	}
}
