.headerWrapper {
	position: sticky;
	top: 0;
	padding: 5px 10px;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	color: var(--800-pink-color);
	background-color: var(--50-pink-color);
	&.scrolledHeader {
		box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);
	}
}
.headerLeftSide {
	display: flex;
	align-items: center;
	gap: 5px;
	.headerTitle {
		display: flex;
		flex-direction: column;
		h1 {
			line-height: 1;
		}
		.titleSlogan {
			font-size: 11px;
			display: inline-block;
		}
	}
}

.headerLogo {
	width: 50px;
	height: 50px;
}

.headerNavigation {
	ul {
		padding: 0;
		display: flex;
		gap: 10px;
		list-style: none;
	}
}

.headerCart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 10px;
	border-radius: 12px;
	background-color: var(--200-pink-color);
	width: fit-content;
}
