.wrapper {
	height: 540px;
	width: 260px;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 1rem;
	background-color: white;
	border-radius: 1.2rem;
	color: var(--800-pink-color);
	.image {
		height: 220px;
		width: 100%;
		margin-bottom: 1rem;
		border-radius: 1.2rem;
	}
	.title {
		font-size: 1.8rem;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.subTitle {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.price {
		width: fit-content;
		border-radius: 0.5rem;
		padding: 0.5rem;
		background-color: var(--100-pink-color);
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
}
.additionalBlock {
	display: flex;
	padding: 10px;
	margin-bottom: 2rem;
	background-color: var(--50-pink-color);
	border-radius: 1.2rem;
	height: 100%;
}
.options {
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
}

.details {
	background-color: transparent;
	font-size: 1.6rem;
	font-weight: bold;
	font-style: italic;
}
.addBlock {
	display: flex;
	justify-content: space-between;
	height: 8rem;
	align-items: end;
}

.moreInfoButton {
	height: 38px;
	width: 120px;
	font-weight: 600;
	border-radius: 12px;
	background-color: var(--50-pink-color);
	font-size: 15px;
	color: var(--800-pink-color);
	&:hover {
		background-color: var(--400-pink-color);
	}
}
