.catalogWrapper {
	min-height: 500px;
	background-color: var(--200-pink-color);
}

.catalogFilters {
	background-color: var(--50-pink-color);
}

.catalogProducts {
	padding: 20px 0;
	max-width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	grid-column-gap: 0px;
	grid-row-gap: 20px;
	justify-items: center;
}
