.catalogWrapper {
	background-color: var(--200-pink-color);
	margin-bottom: 5rem;
}

.catalogFilters {
	background-color: var(--50-pink-color);
}

.catalogProducts {
	padding: 2rem;
	padding-bottom: 0;
	min-height: 113rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	grid-column-gap: 1rem;
	grid-row-gap: 3rem;
	justify-items: start;
	border-top: none;
}
.emptyCatalog {
	display: flex;
	justify-content: center;
	min-height: 30rem;
}
.emptyItems {
	display: flex;
	justify-content: center;
}
.emptyBlock {
	text-align: center;
	.emptyText {
		font-size: 5rem;
		font-weight: bold;
		color: var(--800-pink-color);
		margin-bottom: 4rem;
	}
	.emptyIcon {
		color: var(--800-pink-color);
		background-color: white;
		border-radius: 50%;
	}
}
