.catalogWrapper {
	background-color: var(--200-pink-color);
	margin-bottom: 5rem;
}

.catalogFilters {
	background-color: var(--50-pink-color);
}

.catalogProducts {
	padding: 2rem;
	max-width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	grid-column-gap: 1rem;
	grid-row-gap: 3rem;
	justify-items: center;
	border-top: none;
}
