.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	align-items: center;
	padding: 0 6rem;
	margin-bottom: 5rem;
	.leftSide {
		.textBlock {
			margin-bottom: 50px;
			.title {
				color: var(--800-pink-color);
				font-size: 9rem;
				font-weight: bold;
				margin-bottom: 20px;
			}
			.subTitle {
				color: var(--200-pink-color);
				font-size: 4rem;
			}
		}
		.statisticBlock {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
			grid-column-gap: 2rem;
			grid-row-gap: 5rem;

			.statItem {
				display: flex;
				height: 8rem;
				background-color: var(--200-pink-color);
				border-radius: 1rem;
				box-shadow: 0 1rem 0.8rem 0 rgba(0, 0, 0, 0.088);

				.iconSection {
					height: 100%;
					align-content: center;
					padding: 1rem 2rem;
					border-radius: 10px;
					color: var(--800-pink-color);
					background-color: var(--300-pink-color);
				}
				.statInfo {
					display: flex;
					flex-direction: column;
					height: 100%;
					padding: 1rem;
					justify-content: center;
				}
				.statValue {
					color: var(--800-pink-color);
					font-size: 2.5rem;
					font-weight: bold;
					margin-bottom: 0.5rem;
				}
				.statLabel {
					color: var(--800-pink-color);
					font-size: 1.3rem;
				}
			}
		}
	}
	.rightSide {
		display: flex;
		flex: 1;
		justify-content: center;
		@media (max-width: 500px) {
			justify-content: start;
			margin-top: 5rem;
		}
		.shopPhoto {
			height: 700px;
			filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
		}
	}
}
